/* Header.module.css */
.header {
  background-image: url("../public/headercover.jpg"); /* Replace with your image path */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  padding: 2rem; /* Adjust padding for spacing */
  position: relative; /* Position the header relative to the rest of the content */
  text-align: center;
}

.header::before {
  /* Create a semi-transparent overlay */
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 50% black overlay */
}

.headerTitle {
  /* Style your header title */
  position: relative; /* Position the title relative to the header */
  color: white; /* Ensure text is visible on the overlay */
  font-size: 2.5rem; /* Adjust font size as needed */
  font-weight: bold;
  z-index: 1; /* Ensure title appears above overlay */
}